body{
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
}


#logotipo{
    height:8vh;
    position:fixed;
    top:5px;
    left:0;
    display:inline-block;
    padding-right:4vh;
    padding-left:6vh
}

.divtitulo{
    position:fixed;
    top:0;
    width:100%;
    height:10vh;
    background-color:rgba(0,0,0,.5);
    text-align:center
}
.titulo{
    display:inline-block;
    height:3vh;
    line-height:5vh;
    padding:1em;
    color:rgba(255,255,255,.7)
}
.titulo-portatil{
    display: none;
}
.titulo h1{
    font-size:4vh;
    text-align:center

}
main .autoajust{
    text-align:center;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
}

.atual{
    padding-top: 5vh;
}
.RHT {
    padding-right: 1vh;
    padding-left: 1vh;
    display: inline-block;
}
.Pressao {
    padding-left: 1vh;
    padding-right: 1vh;
    display: inline-block;
}
div .graf {
    padding: 10px;
    display: inline-block;
    height: 400px; 
    width: 30vmin;
    width: 47vmax;
}
hr {
    border-top: 1px solid #727273;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:5vh;
    background-color:rgba(0,0,0,.7)
}
.copyright{
    text-align:center;
    vertical-align:top;
    color:wheat;
    font-size:.9em;
    margin: 8px
}

@media screen and (max-width: 55em) {

    #logotipo{
        height:5vh;
    }
    .titulo-portatil{
        display: inline;
    }

    .titulo-principal{
        display: none;
    }

  }

  @media screen and (max-width: 65em) {
    #logotipo{
        height:5vh;
    }
  }