body{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
}


#logotipo{
    height:8vh;
    position:fixed;
    top:3px;
    left:0;
    display:inline-block;
    padding-right:4vh;
    padding-left:6vh
}

.divtitulo{
    position:fixed;
    top:0;
    width:100%;
    height:8vh;
    background-color:rgba(0,0,0,.7);
    text-align:center
}
.titulo{
    display:inline-block;
    height:3vh;
    line-height:5vh;
    color: darkgrey;
}
.titulo-portatil{
    display: none;
}
.titulo h1{
    font-size:4vh;
    text-align:center

}
.clock{
    color:rgba(171,221,171,.74);
    font-family:Arial,Helvetica,sans-serif;
    height:3vh;
    line-height:2vh;
    font-size:3vh;
    padding:.3em
}
main .autoajust{
    text-align:center;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
}

.atual{
    padding-top: 0vh;
}
.Explicacao{
    font-size:10px;
    padding-bottom: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
}
.RHT {
    font-size:2.5vh;
    padding-right: 1vh;
    padding-left: 2vh;
    color: darkgrey;
    display: inline-block;
}
.Pressao {
    font-size:2.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
    display: block;
}
.Pressao1 {
    font-size:2.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
    display: block;
}
.Dew_point{
    font-size:2.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
    display: block;
}
.Probabilidade{
    font-size:2.5vh;
    padding-top: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
}
.botoes{
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    color: darkgrey;
}
.botao{
    background-color: rgba(100,100,100,1);
    color: #ababab;
    margin-left: 5vh;
    border-radius: 6px;
    border: 1px solid black;
    width: 85px;
    margin-top: 1em;
    height: 30px;
    transition-duration: 0.1s;
}

.botao:hover{
    cursor: pointer;
    color: black;
    background-color: #aaaaaa;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.botao:active {
    transform: translateY(-5px);
  }

.Verde{
    color: green;
}
.Azul{
    color: blue;
}
.Aqua{
    color: aqua;
}
div .graf {
    padding-left: 10px;
    display: block;
    /*display: inline-block;*/
    height: 400px; 
    width: 30vmin;
    /*width: 47vmax;*/
    width: 97.5%;
}

hr {
    border-top: 1px solid #727273;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:4vh;
    background-color:rgba(0,0,0,.7)
}
.copyright{
    text-align:center;
    vertical-align:top;
    color:wheat;
    font-size:.9em;
    margin: 6px
}

@media screen and (max-width: 55em) {

    #logotipo{
        height:5vh;
    }
    .titulo-portatil{
        display: inline;
    }

    .titulo-principal{
        display: none;
    }

  }

  @media screen and (max-width: 65em) {
    #logotipo{
        height:5vh;
    }
  }